.containerHome{
  height: 100vh;
  z-index: -5;
}

.bgapp {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: url("../img/bgHome.jpeg") no-repeat center center;
  height: 100vh;
  animation: changeBackGround 30s infinite;

}

.titulo1 {
  letter-spacing: 2vmax;
  text-shadow: 0 0 5px  white;
  text-align: center;
  text-transform: uppercase;
  font-size: 5vmax;
  color: rgb(1, 1, 34);
}

@keyframes changeBackGround {
  0% {
    background-position: left;
    background-size: 250vh;

  }
  50% {
    background-position: right;
    background-size: 200hv;

  }
  100% {
    background-position: left;
    background-size: 250vh;

  }
}
