@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.corpo {
  background-color: #2888e0;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #434343;
  box-shadow: 0 0 30px 30px #2888e0;
}

main.cards {
  display: flex;
  padding: 32px;
  justify-content: space-between;
  overflow: auto;
}

main.cards section.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: white;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  margin-left: 32px;
  box-shadow: 0 0 15px black;
  max-width: 300px;
  min-width: 300px;
  overflow: auto;
}

main.cards section.card .icon {
  width: 200px;
  height: 200px;
}

main.cards section.card img {
  width: 100%;
  max-height: 200px;
  border-radius: 10px;
}

main.cards section.card h3 {
  font-size: 100%;
  margin: 16px 0;
  max-width: 240px;
}

.desc{
  min-height: 50px;
  max-height: 50px;
  max-width: 50px;

  overflow: auto;
}

main.cards section.card span {
  font-weight: 300;
  max-width: 240px;
  font-size: 80%;
  margin-bottom: 16px;
}

main.cards section.card button {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border-radius: 32px;
  border: 0;
  background: linear-gradient(to top, #2888e0, #fff);
  cursor: pointer;
  font-size: 80%;
  font-weight: 500;

 
 
 
}

main.cards section.card button:hover {
  background-color: linear-gradient(to top, #00376b, rgb(105, 105, 105));
  cursor: pointer;
  font-size: 80%;
  font-weight: 900;
  
}

@media screen and (max-width: 1200px) {
  main.cards {
    flex-direction: column;
    align-items: center;
  }
  main.cards section.card {
    margin-left: 0;
    margin-bottom: 32px;
  }
}

.botoes button {
  margin: 5px;
}

/* Modal */

.bgModal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  z-index: 2;
  top: -100%;
  display: none;
  display: block;
  transition: 350ms;
}

.modal {
  width: 75%;
  height: 60%;
  background: #2888e0;
  border-radius: 1rem;
  margin: 80px auto 0 auto;
  box-shadow: 20px 20px 50px -30px black;
}

.modal span {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 3rem;
  font-size: 3rem;
  color: #000;
  transition: 350ms;
  cursor: pointer;
}

.modal span:hover {
  color: #990000;
  transition: 350ms;
}

/* Form Modal */

.inputs {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-around;
}

#btnCadastro {
  padding: 0.5rem 1rem;
  text-align: center;
  text-transform: uppercase;
  border-radius: 32px;
  border: 0;
  cursor: pointer;
  font-size: 100%;
  font-weight: 500;
  background: linear-gradient(to top, #2888e0, #fff);
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.363);
  box-shadow: 0 0 15px black;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 15px;
  font-weight: 900;
}

.contaiverBtn {
  display: flex;
  flex-direction: column;
}

#btnCadastro:hover {
  background: #2888e0;
  transition: all 0.3s;
  color: #464646;
  text-shadow: black;
  border-radius: 15px;
  text-align: center;
}

input[type="text"]:focus {
  border: 3px solid #2888e0;
  border-radius: 15px;
  text-align: center;
}
input[type="text"] {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: 3px solid #2888e0;
  border-radius: 15px;
  text-align: center;
}

.btnSaveCancel {
  display: flex;
  justify-items: center;
  justify-content: space-around;
}
.btnSaveCancel button {
  min-width: 5rem;
  max-width: 5rem;
  padding: 0.5rem 1rem;
  text-align: center;
  text-transform: uppercase;
  border-radius: 32px;
  border: 0;
  cursor: pointer;
  background: linear-gradient(to top, #2888e0, #fff);
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.363);
  box-shadow: 0 0 15px black;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnSaveCancel button:hover {
  background: #2888e0;
  transition: all 0.3s;
  color: #464646;
  text-shadow: black;
  border-radius: 15px;
  text-align: center;
}
